.partners {
    margin-top: 292px;
    h2 {
        padding-bottom: 6px;
    }
}


.partners__company {
    display: flex;
    max-width: 1275px;
    height: 222px;
    margin: 0 auto;
    margin-bottom: 154px;
}

.partners__comments {
    margin-bottom: 227px;
}